<launch>
  <param name="/nav_experiments/algorithm" value="dumb" />

  <node name="fake_localization" pkg="fake_localization" type="fake_localization">
      <param name="odom_frame_id" value="odom_combined" />
  </node>

  <node pkg="dumb_planner" name="dumb_planner" type="dumb_planner.py" output="screen"/>

</launch>

