<launch>

  <!-- Base Control -->
  <rosparam file="$(find pr2_controller_configuration_gazebo)/pr2_base_controller.yaml" command="load" />

  <!-- Odometry -->
  <rosparam file="$(find pr2_controller_configuration_gazebo)/pr2_odometry.yaml" command="load" />

  <!-- Head -->
  <rosparam command="load" file="$(find pr2_controller_configuration_gazebo)/pr2_head_controller.yaml" />
  
  <!-- Tilt Laser -->
  <rosparam command="load" file="$(find pr2_controller_configuration_gazebo)/pr2_laser_tilt_controller.yaml" />

  <!-- Torso -->
  <rosparam command="load" file="$(find pr2_controller_configuration_gazebo)/pr2_torso_controller.yaml" />

  <!-- Controllers that come up started -->
  <node name="default_controllers_spawner"
        pkg="pr2_controller_manager" type="spawner" output="screen"
	respawn="true"
        args="--wait-for=/calibrated base_controller base_odometry head_traj_controller laser_tilt_controller torso_controller" />

  <!-- Nodes on top of the controllers -->
  <group ns="head_traj_controller">
    <node name="point_head_action"
          pkg="pr2_head_action" type="pr2_head_action" />
  </group>
  <group ns="torso_controller">
    <node name="position_joint_action_node"
          pkg="single_joint_position_action" type="single_joint_position_action" />
  </group>
  
        
</launch>
