<launch>
  <arg name="willow" default="0" />

  <node name="model_throttler" pkg="topic_tools" type="throttle" args="messages /gazebo/model_states 5 /simulation_state"/>

  <param name="/use_sim_time" value="true" />

  <include file="$(find path_planning_simulation)/launch/willow.launch"     if="$(arg willow)"/>  
  <include file="$(find path_planning_simulation)/launch/empty.launch"  unless="$(arg willow)"/>  

  <!-- start pr2 robot -->
  <include file="$(find path_planning_simulation)/launch/noarms.launch"/>
  <node name="contact_watcher" pkg="path_planning_simulation" type="contact_watcher.py" />
  <node name="people_publisher" pkg="path_planning_simulation" type="people_publisher.py" />
  <node name="people_velocity" pkg="people_velocity_tracker" type="tracker.py" />
  <node name="animator" pkg="path_planning_simulation" type="animator.py" />

  <include file="$(find path_planning_simulation)/launch/move_core.launch">
     <arg name="fake" value="True"/>
  </include>

</launch>

