<launch>
  <arg name="gui" default="false"/>
  <arg name="throttled" default="false"/>
  <arg name="paused" default="true"/>

  <node name="model_throttler" pkg="topic_tools" type="throttle" args="messages /gazebo/model_states 5 /simulation_state"/>

  <include file="$(find gazebo_worlds)/launch/empty_world_paused.launch">
    <arg name="gui" value="$(arg gui)" />
    <arg name="throttled" value="$(arg throttled)" />
    <arg name="paused" value="$(arg paused)" />
  </include>

  <!-- start pr2 robot -->
  <include file="$(find path_planning_simulation)/launch/noarms.launch"/>
  <node name="blank_map" pkg="map_server" type="map_server" args="$(find path_planning_data)/blank.yaml" />
  <node name="contact_watcher" pkg="path_planning_simulation" type="contact_watcher.py" />

  <include file="$(find path_planning_simulation)/launch/move_core.launch" />

</launch>

