<launch>
  <arg name="param_name"/>
  <arg name="node_name"/>
  <arg name="param_value"/>
  <arg name="param_nick" default="$(arg param_value)"/>

  <param name="/nav_experiments/algorithm" value="hydro_$(arg param_name)_$(arg param_nick)" />
  <rosparam param="/nav_experiments/topics">['/move_base_node/NavfnROS/plan', '/move_base_node/DWAPlannerROS/local_plan']</rosparam>
  <include file="$(find pr2_navigation_super_config)/main.launch">
    <arg name="fake" value="True"/>
  </include>

  <node name="set_value" pkg="dynamic_reconfigure" type="dynparam" 
        args="set $(arg node_name) $(arg param_name) $(arg param_value)"/>
</launch>

